
.main{
	margin: auto;
  @media (min-width: 960px){
    width: 70%; 
	}
}
.logo{
	width: 300px;
	margin: auto;
}
.centre {
	display: flex;
	justify-content: center;
	
}
.parent {
	margin:auto;
	width:60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-template-rows: repeat(3, 1fr);
}




.backdrop {
	position: absolute;
	top: 0;
	left: 0;
	color: aliceblue;
	height: 100%;
	width: 100%;
	background: #000000e3;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	overflow-y: hidden !important;
  }

  .modal {
	width: clamp(50%, 700px, 90%);
	height: min(50%, 300px);
  
	margin: auto;
	padding: 0 2rem;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  @media screen and (min-width: 960px) {
	button {
	  cursor: pointer;
	}
	/* .modal {
	  width: 750px;
	  height: 300px;
	} */
	.input,
	input {
	  width: calc(25vw);
	}
	h1 {
	  color: #ff9d00;
	  font-size: 250%;
	}
  }

  .save-button {
	padding: 0 1rem;
	margin: 2rem auto auto 0;
	background: var(--gradient);
	color: var(--dark);
	border: #ff9d00 3px;
  }


  * {
	box-sizing: border-box;
  }
  
  body {
	/* background: var(--dark); */
	/* font-family: "Montserrat", sans-serif; */
	/* height: 100%; */
	/* overflow-y: hidden; */
  }
  
  /* main {
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	align-items: center;
	overflow-y: hidden;
  } */
  