.flex-container {
	width:"50%";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
}
.main{
	margin: auto;
  @media (min-width: 960px){
    width: 70%; 
	}
}
.logo{
	width: 300px;
	margin: auto;
}
.flex-items {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.centre {
	display: flex;
	justify-content: center;
	
}
.parent {
	margin:auto;
	width:60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-template-rows: repeat(3, 1fr);
}

