
.main{
	margin: auto;
  @media (min-width: 960px){
    width: 70%; 
	}
}
.logo{
	width: 300px;
	margin: auto;
}
.centre {
	display: flex;
	justify-content: center;
	
}
.parent {
	margin:auto;
	width:60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-template-rows: repeat(3, 1fr);
}

